extends layout

block content
  h2 О нас
  p Это простое приложение-список дел для демонстрации Express, Pug, контроллеров и моделей в памяти.
  ul
    li Просмотр списка задач
    li Добавление новой
    li Переключение статуса (выполнена/нет)
    li Удаление
    li Фильтрация по статусу через ?status=active/completed
