doctype html
html
  head
    title TodoApp
    link(rel="stylesheet", href="/styles.css")
  body
    header
      h1 Todo List
      nav
        a(href="/") Список
        |  |
        a(href="/new") Новая задача
        |  |
        a(href="/about") О нас
    main
      block content

    footer
      p © 2025 TodoApp
